.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-rows: 200px 100px 200px;
    gap: 20px;
   /*Auto-fill va a rellenar toda la fila con las columnas que pueda poner dentro
   auto-fit nos va a permitir rellenar todo el contenedor con las columnas que tenemos disponibles
   
   
   */
}
